{% extends "base.html.twig" %}

{% block title %}My reviews{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {
			$("#homeBtn").on("click", function(){
				window.location.href = '{{ url("dashboard_url") }}';
			});

			$(".editReviewBtn").on("click", function(){
				let currentReviewBtn = $(this);
				// Put inside the modal inputs the values of the selected row to update...
				$.ajax({
					url: $(this).data('geturl'),
					type: 'GET',
					data: {
						id: $("#reviewId").val(),
					},
					success: function(response) {
						$("#reviewId").val($(this).data('id'));
						$("#bookTitle").text(response.book_title);
						$("#score").val(response.review_score);
						$('#scoreValue').text(response.review_score);
						$("#reviewDescription").val(response.review_description);


						// Show selected score to the user for better UI
						const $rangeInput = $('#score');
						const $rangeOutput = $('#scoreValue');

						// Set initial value
						$rangeOutput.text($rangeInput.val());

						// Update on input (while dragging)
						$rangeInput.on('input', function() {
							$rangeOutput.text($(this).val());
						});

						$("#bookId").val($(this).data('bookid'));
						$("#bookTitleHidden").val($(this).data('book-title-hidden'));
						$("#bookTitle").text($(this).data('book-title-hidden'));

						// Open the review modal...
						$("#reviewBookModal").modal("show");

						// Update the review...
						$("#submitReviewBtn").on("click", function(){
							$.ajax({
								url: currentReviewBtn.data('puturl'),
								method: 'PUT',
								data: {
									reviewId: $("#reviewId").val(),
									score: $("#score").val(),
									review_description: $("#reviewDescription").val(),
								},
								dataType: 'json',
								success: function(putResponse){
									console.log(putResponse);

									$('#scoreValue').text(putResponse.review_score);
									$("#reviewDescription").val(putResponse.review_description);

									$("#reviewBookModal").modal("hide");
									window.location.reload();
								},
								error: function(jqXHR, textStatus, errorThrown) {
									console.log("Status code:", jqXHR.status);
									console.log("Status text:", jqXHR.statusText);
									console.log("Response body:", jqXHR.responseText);
									console.log("Error type:", textStatus);
									console.log("Exception message:", errorThrown);

									$("#reviewBookModal").modal("hide");
								},
							});
						});
					},
					error: function(response) {
						alert("An error occurred");
					}
				});
			});

			$(".deleteReviewBtn").on("click", function(){
				let currentReviewBtn = $(this);
				// Put inside the modal inputs the values of the selected row to update...
				
				$.ajax({
					url: $(this).data('deleteurl'),
					type: 'DELETE',
					data: {
						id: $("#reviewId").val(),
					},
					success: function(response) {
						window.location.reload();
					}
				});
			});
		});
	</script>
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<th class="text-nowrap">Review ID</th>
            <th class="text-nowrap">Book ID</th>
            <th class="text-nowrap">Title</th>
            <th class="text-nowrap">Vote / 10</th>
			<th class="text-nowrap">Review description</td>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			{% for review in data.reviews %}
				<tr>
					<td>{{ review.getId() }}</td>
					<td>{{ review.getBookId() }}</td>
					<td>{{ review.getBookTitle() }}</td>
					<td>{{ review.getReviewVote() }}</td>
					<td>{{ review.getReviewDescription() }}</td>
					<td>
						<button 
							class="btn btn-outline-primary editReviewBtn"
							data-reviewid="{{ review.getId() }}"
							data-geturl="{{ path('handleReview_url', {'id': review.getId()}) }}"
							data-puturl="{{ path('handleReview_url', {'id': review.getId()}) }}"
						>Edit</button>
					</td>
					<td>
						<button 
							class="btn btn-outline-danger deleteReviewBtn" 
							data-reviewid="{{ review.getId() }}"
							data-deleteurl="{{ path('handleReview_url', {'id': review.getId()}) }}"
						>Delete</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
