{% extends "base.html.twig" %}

{% block title %}My reviews{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {
			$("#homeBtn").on("click", function(){
				window.location.href = '{{ url("dashboard_url") }}';
			});
		});
	</script>
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<th class="text-nowrap">Review ID</th>
            <th class="text-nowrap">Book ID</th>
            <th class="text-nowrap">Title</th>
            <th class="text-nowrap">Vote / 5</th>
			<th class="text-nowrap">Review description</td>
		</thead>
		<tbody>
			{% for review in data.reviews %}
				<tr>
					<td>{{ review.getId() }}</td>
					<td>{{ review.getBookId() }}</td>
					<td>{{ review.getBookTitle() }}</td>
					<td>{{ review.getReviewVote() }}</td>
					<td>{{ review.getReviewDescription() }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
